<!DOCTYPE html>
<html ng-app="myFlickr">
<head>
<title></title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/Angular.css">
	</head>
<body ng-controller="mainController">
	<div></div><!-- overlay -->
	<header>
		<div>
		<form>
			<input type='text' ng-model='SearchTerm' placeholder='Type in your search'>
			<input type='submit' ng-click='searchBtn()' value='Search'>
		</form>
		</div>
	</header>
	<section>
		<div class='recentPhoto'>
			<div ng-repeat="photo in recent">
			<img ng-src="{{'https://farm'+photo.farm+'.staticflickr.com/'+photo.server+'/'+photo.id+'_'+photo.secret+'.jpg'}}">
			</div>																									
		</div>

		<div class='interestingPhoto'>
			<!-- di should house the interseing photos -->
			<div ng-repeat="photo in interesting">
			<img ng-src="{{'https://farm'+photo.farm+'.staticflickr.com/'+photo.server+'/'+photo.id+'_'+photo.secret+'.jpg'}}">
			</div>
		</div>

		<div class='searchPhoto'>
			<div>
				<ul>
					<li ng-repeat='photo in searchItems' on-click='imageClicked'>

					</li>
				</ul>
			</div>
		</div>
		
	</section>
	<footer>
		
	</footer>
	<script type="text/javascript" src='js/Angular.js'></script>
</body>
</html>